
// Colors used on site

$PageBGcolor: rgb(92, 30, 5);
$test:#5C1F06;

$White: #FFFFFF;
$NavyBlue: #2C3B6F;
$Blue: #002BC2;
$Dark: #000000;

$LightBrown:#D97852;
$DarkBrown: #524641;
$DarkSilver:#707070;
$SkinColor:#D1B3A7;
$SkinDarkColor:#A68E85;
