@import '../../assets/css/Variables.scss';

// Define mixin for link styles
@mixin linkStyles {
  text-decoration: none;
  color: $White;

  &:hover {
    text-decoration: underline; // Example: Underline on hover, adjust as needed
  }
}

footer {
  display: flex;
  flex-wrap: wrap; // Allow flex items to wrap to the next line if needed
  justify-content: space-around;
  background-color: $White;
  padding: 20px;
  border-top: 2px solid rgb(92, 30, 5);

  div {
    text-align: left; // Align text to the left
    max-width: 200px;
    margin-bottom: 20px; // Add spacing between divs

    h3 {
      background-image: linear-gradient(315deg, #de4256 0%, #b78e51 74%);
      -webkit-background-clip: text; /* Apply the gradient to the text content */
      background-clip: text;
      color: transparent;
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    p {
      color: $Dark;
      font-size: 1em;
      margin: 0; // Remove default margin
    }

    a {
      @include linkStyles; // Include the link styles mixin
    }
  
    .social-icons {
      display: grid;
      grid-template-columns: auto auto auto auto; // Update this line
      gap: 10px;

      .social-icon {
        color: rgba(0, 0, 0, 0.5);

        &.facebook {
          
          height: 40px;
          width: auto;
        }

        &.linkedin {
          height: 40px;
          width: auto;
        }
        &.instagram {
          height: 40px;
          width: auto;
          // Add specific styles for Instagram icon
        }
    
        &.twitter {
          height: 40px;
          width: auto;
          // Add specific styles for Twitter icon
        }
      }
    }
  }

  @media (max-width: 768px) {
    .image-section .image-row .image-column .image-module {
      width: 100%;
      padding: 15px;
      margin-top: 160vh;
    }

    .image-module h2 {
      text-align: center;
      padding: 0 0 1em 0;
    }

    .image-module p {
      text-align: left;
      padding: 1em 1em 0 1em; /* Adjust padding for smaller screens */
      font-family: 'Inter';
    }
  }
}
