// NoPage.module.scss
.noPageContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 200px;
    text-align: center;
  }
  
  .noPageHeading {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .noPageImage {
    width: 100%;
    height: 50%;
    max-width: 400px;
    margin: 20px 0;
  }
  